<div>
    <a href="/"><h1>Fitbrary</h1></a>
    <h1>Workouts Library</h1>
</div>
<div>
    <div>
        {{#each user}}
            {{#each workoutsCreated}}
            <a href="/users/{{../_id}}/workouts/{{this._id}}"><h3>{{this.workoutName}}</h3></a>
                
            {{/each}}
        {{/each}}
    </div>

    <div>
        <form action="/users">
            <input class="button" type="submit" value="Users Library" />
        </form>
    </div>
    
</div>