<div>
    <a href="/"><h1>Fitbrary</h1></a>
    <h2>Workouts Library</h2>
</div>
<div>
    <div>
        {{#each user}}
            {{#each workoutsCreated}}
            {{!-- <a href="/workouts/{{this._id}}"></a> --}}
                <h3>{{this.workoutName}}</h3>
            {{/each}}
        {{/each}}
    </div>

    <div>
        <form action="/workouts/new">
            <input class="button" type="submit" value="New Workout" />
        </form>
        <form action="/users">
            <input class="button" type="submit" value="Users Library" />
        </form>
    </div>
    
</div>