<div class="library-body">
    <div>
        <a href="/" class="main-nav-link"><h1 class="fitbrary">Fitbrary</h1></a>
    </div>

    <div class="library-main">
        <div class="library-container">
            <h1 class="sub-head">Workouts Library</h1>
            <div class="library-list">
                {{#each user}}
                    {{#each workoutsCreated}}
                    <a href="/users/{{../_id}}/workouts/{{this._id}}" class="library-items"><h3 >{{this.workoutName}}</h3></a>
                        
                    {{/each}}
                {{/each}}
            </div>
        </div>
        <div class="button-container">
            <form action="/users">
                <input class="library-button" type="submit" value="Users Library" />
            </form>
        </div>
    </div>
</div>