<div>
    <a href="/"><h1>Fitbrary</h1></a>
    <h2>Make a New Workout</h2>
</div>
<div>
    <form class="new-form" action="/users/{{user._id}}" method="POST">
        <div>
            <div class="form-input">
                <label for="workoutName">Name of the workout</label>
                <input type="text" name="workoutName" required/>
            </div>

            <div class="form-input">
                <label for="createdBy">Created By</label>
                <input type="text" name="createdBy" required/>
            </div>

            <div class="form-input">
                <label for="goal">Workout Goal</label>
                <input type="text" name="goal" required/>
            </div>

            <div class="form-input">
                <label for="notes">Notes</label>
                <input type="text" name="notes" />
            </div>
        </div>

        <div class="">
            <input class="button" type="submit" value="Create">
            
        </div>
    </form>
    <div>
        <form action="/workouts">
            <input class="button" type="submit" value="Cancel" />
        </form>
    </div>
</div>