<div>
    <a href="/"><h1>Fitbrary</h1></a>
    <h2>Make a New Workout</h2>
</div>
<div>
    <form class="new-form"action='/workouts' method="POST">
        <div>
            <div class="form-input">
                <label for="workOutName">Name of the workout</label>
                <input type="text" name="workOutName" required/>
            </div>

            <div class="form-input">
                <label for="workOutCreatedBy">Created By</label>
                <input type="text" name="workOutCreatedBy" required/>
            </div>

            <div class="form-input">
                <label for="workOutGoal">Workout Goal</label>
                <input type="text" name="workOutGoal" required/>
            </div>

            <div class="form-input">
                <label for="workOutDescription">Description</label>
                <input type="text" name="workOutDescription" />
            </div>
        </div>

        <div class="">
            <input class="button" type="submit" value="Create">
            
        </div>
    </form>
    <div>
        <form action="/workouts">
            <input class="button" type="submit" value="Cancel" />
        </form>
    </div>
</div>