<div class="form-body">
    <div>
        <a href="/" class="main-nav-link"><h1 class="fitbrary">Fitbrary</h1></a>
    </div>

    <div class="library-container">
        <h1 class="sub-head">About Fitbrary</h1>
        <div class="library-list show-list">
            <p class="about-text">
                Fitbrary is an application that allows users to share workouts they have created.
            </p>
            <p class="about-text">
                Boredom is a pretty big barrier to sustained fitness. Doing the same thing over, and over again makes it hard to get off of the couch. That is the main problem Fitbrary solves. Share workouts and be inspired by others.
            </p>
            <div>
                <h3 class="show-text show-list-head">Remember the 3 Fs:</h3>
                <ul>
                    <li><strong>Form:</strong> Protect yourself; do it right. When in doubt, Google the movement</li>
                    <li><strong>Full Range of Motion:</strong> If you do it halfway, why do it?</li>
                    <li><strong>Focus of Effort:</strong> Only you know if you are giving max effort. And remember, they wouldn't call it <strong><em>work</em></strong>ing out if it was easy</li>
                </ul>
            </div>
            <p class="about-text">
                I developed this application as a project for my web development course at General Assembly in Atlanta. Please visit my <a href="https://www.linkedin.com/in/jacksonmcgehee/">LinkedIn profile</a> to learn more about me.
            </p>

        </div>
        
        <div class="button-container">
            <form action="/users/workouts">
                <input class="library-button" type="submit" value="Workout Library" />
            </form>
            <form action="/users">
                <input class="library-button" type="submit" value="Users Library" />
            </form>
        </div>
    </div>
</div>