<div>
    <h1>Fitbrary</h1>
    <div>
        
        <div>
            <form action="/users/workouts">
                <input class="button" type="submit" value="Workout Library" />
            </form>
            <form action="/users">
                <input class="button" type="submit" value="User Library" />
            </form>
        </div>
        <img src="/images/hanzfranz2.png" alt="A cartoon image of Hanz and Franz modeled after the Saturday Night Live skit.">
    </div>
</div>

