<div class="home-container">
    <div class="fitbrary-container">
        <h1 class="fitbrary-main">Fitbrary</h1>
    </div>
    <div class="main-container">
        <div class="home-buttons">
            <div class="button-container">
                <form action="/users/workouts">
                    <input class="button" type="submit" value="Workout Library" />
                </form>
            </div>
            <div class="button-container">
                <form action="/users">
                    <input class="button" type="submit" value="User Library" />
                </form>
            </div>
            <div class="button-container">
                <form action="/about">
                    <input class="button" type="submit" value="About Fitbrary" />
                </form>
            </div>
        </div>
        <div class="handf">
            <img src="/images/hanzfranz2.png" alt="A cartoon image of Hanz and Franz modeled after the Saturday Night Live skit.">
        </div>
    </div>
</div>

