<div>
    <h1>Fitbrary</h1>
    <div>
        <div>
            <a href="/workouts" class="button">Workout Library</a>
            <a href="/users" class="button">User Library</a>
        </div>
        <img src="/images/hanzfranz2.png" alt="A cartoon image of Hanz and Franz modeled after the Saturday Night Live skit.">
    </div>
</div>

