<!DOCTYPE html>
<html>
  <head>
    <title>Fitbrary</title>
    {{!-- <link rel='stylesheet' media="all" href='/stylesheets/mobile.css' /> --}}
    {{!-- <link rel='stylesheet' media="min-width: 750px" href='/stylesheets/tablet.css' />
    <link rel='stylesheet' media="min-width: 1024px" href='/stylesheets/laptop.css' /> --}}
    <link rel='stylesheet' href='/stylesheets/main.css' />
    {{!-- <link rel='stylesheet' media="max-width: 400px" href='/stylesheets/mobile.css' /> --}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
