body {
margin: 0;
padding: 0px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-color: #828282;
display: flex;
flex-direction: column;
}

.home-container {
display: flex;
height: 100vh;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.fitbrary-main {
color: white;
text-decoration: none;
font-size: 200px;
margin: 0px;
text-decoration: none;
}

.fitbrary {
color: white;
text-decoration: none;
font-size: 100px;
margin: 0px;
text-decoration: none;
}

.sub-head {
color: white;
font-size: 40px;
margin-top: -5px;
}

a {
color: white;
}

.main-nav-link {
text-decoration: none;
}

.main-container {
display: flex;
flex-direction: row;
align-items: space-between;
height: 80vh;
width: 90vw;
justify-content: center;
}

.home-buttons {
    display: flex;
    flex-direction: column;
}

.button-container {
display: flex;
align-items: center;
justify-content: center;
margin: 10px auto;
}

.button {
width: 500px;
height: 100px;
border: .5px solid white;
background-color:  #828282;
color: white;
font-size: 50px;
margin: 10px auto;
}

.handf {
width: 100%;

}

img {
width: 100%;
height: auto;
}

.about-text {
    color: white;
}

/* Library Pages */

.library-main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.library-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.library-list {
height: 45vh;
width: 40vw;
padding: 0 70px;
overflow: scroll;
margin-bottom: 25px;
-webkit-box-shadow: 0px 9px 39px -2px rgba(0,0,0,0.81);
-moz-box-shadow: 0px 9px 39px -2px rgba(0,0,0,0.81);
box-shadow: 0px 9px 39px -2px rgba(0,0,0,0.81);
}

.library-items {
font-size: 20px;
}

.library-button {
width: 375px;
height: 75px;
border: .5px solid white;
background-color:  #828282;
color: white;
font-size: 35px;
margin: 0 10px;
}

.delete {
    color: #c0392b;
    border: .5px solid #c0392b;
}

/* Show Pages */

.sub-list {
    margin-top: 0px;
    overflow: scroll;
}

.show-list {
height: 40vh;
width: 30vw;
}

.show-container {
margin-top: 25px;
}

.show-text {
color: white;
}

.show-list-head {
    margin-bottom: 2px;
}

ul {
    margin: 0;
    color: white;
}

.components {
    color: white;
}

/* Form Pages */

.form-body {
margin: 0;
padding: 0px;
height: 100vh;
width: 100%;
background-color: #828282;
display: flex;
flex-direction: column;
}

.new-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

.form-text {
    color: white;
    font-size: 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    font-size: 25px;
    color:  #828282;
    width: 375px;
    outline: none;
    background-color: #C4C4C4;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.delete-link {
    color: #c0392b;
}

/* .component-form {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
} */

/* Media Queries */

@media only screen and (max-width: 1280px) {
    .fitbrary-main {
        font-size: 150px;
    }

    .button {
        width: 375px;
        height: 75px
    }
}

@media only screen and (max-width: 420px) {
   
    .main-container {
        flex-direction: column;
    }
    .fitbrary-main {
        margin-top: 15px;
        font-size: 75px;
    }
    .button {
        width: 300px;
        font-size: 35px;
    }

    .main-container {
        justify-content: space-between;
    }

    .fitbrary {
        font-size: 75px;
    }

    .sub-head {
        font-size: 25px;
        margin: 10px 0 5px 8px;
    }

    .library-button {
        width: 170px;
        height: 50px;
        font-size: 18px;
        margin: 0 2px;
        word-wrap: normal;

    }

    .library-list {
        padding: 0 3px 0 10px;
        width: 80vw;
        height: 55vh;
        margin-bottom: 8px;
        
    }

    .library-items {
        font-size: 20px;
    }

    .show-list {
        width: 90vw;
    }

    p.show-text {
        font-size: 15px;
    }

    .components {
        font-size: 20px;
    }

    .delete-link {
        font-size: 20px;
    }

    .new-form {
        margin-top: 10px;
    }

    .form-text {
        font-size: 18px;
    }

    input {
        width: 300px;
    }
}