<div class="library-body">
    <div>
        <a href="/" class="main-nav-link"><h1 class="fitbrary">Fitbrary</h1></a>
    </div>
    <div class="library-main">
        <div class="library-container">
            <h1 class="sub-head">Users Library</h1>
            <div class="library-list">
                {{#each user}}
                    <a href="/users/{{this._id}}" class="library-items"><h3>{{this.userName}}</h3></a>
                {{/each}}
            </div>

            <div class="button-container">
                <form action="/users/new">
                    <input class="library-button" type="submit" value="New User" />
                </form>
                <form action="/users/workouts">
                    <input class="library-button" type="submit" value="Workout Library" />
                </form>
            </div>
        </div>
    </div>
</div>