<div>
    <a href="/"><h1>Fitbrary</h1></a>
    <h2>Create a New User Profile</h2>
</div>    
    <div>
        <form class="new-form"action='/users/{{user._id}}' method="POST">
            <div class="form-input">
                <label for="userName">User name</label>
                <input type="text" name="userName" required/>
            </div>

            <div class="form-input">
                <label for="firstName">First name</label>
                <input type="text" name="firstName" required/>
            </div>

            <div class="form-input">
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" required/>
            </div>

            

            <div class="form-input">
                <label for="email">Email</label>
                <input type="text" name="email" />
            </div>

            <div class="">
                <input class="button" type="submit" value="Create Profile">
            </div>
        </form>
    </div>
    <div>
        <form action="/users">
            <input class="button" type="submit" value="Cancel" />
        </form>
    </div>